**Josh Hellings** - Automated Data Visualisation for Economists 2025

In this notebook, we will look at more Python basics, with examples of conditionals, loops and other techniques that will underpin using Python for Data Science.

**Note**: Make sure you've worked through the first Python basics notebook before tackling this one.

<br>
<br>

# Python basics

## 1. Loops

Any time we encounter repetitive code—like printing several locations—it's a signal that we might use a loop to make our code more efficient and less prone to errors. Loops are fundamental in programming, allowing you to execute a set of statements repeatedly with less code, improving accuracy and efficiency.


### 1.1 **For Loop with Lists**

The **`for`** loop is used to iterate over the items of a list, executing a block of code once for each item.

In [6]:
# Our list of locations
locations = ["London", "Darlington", "Newport"]   # Remember, we define lists with a selection of comma separated values between []

# Using a for loop to print each location
for location in locations:
    print(location)

London
Darlington
Newport

**Note**: It's common to use singular and plural names in for loops (e.g., for fruit in fruits), where fruits is a list of fruit names. The specific names used are not important; what matters is their role in the loop. The identifier after for (e.g., location) represents the current item from the list being iterated over.

In [7]:
# Another example with different variable names but identical functionality
placeList = ["London", "Darlington", "Newport"]
for place in placeList:
    print(place)

London
Darlington
Newport

The names are different, but the output is the same because both loops iterate over a list and print each item.

**Tip**: In Python, code structure is defined by indentation (typically 4 spaces), which groups related lines into blocks, like loops or conditionals. Unlike other languages that use symbols (e.g., {}), Python uses indentation to indicate the start and end of code blocks, making consistent spacing essential. The easy way to do this is just to hit the `tab` key.

<br>

### 1.2 **Looping Over a Range of Numbers**

In addition to lists, you can loop over a sequence of numbers using the **`range()`** function. This is useful for repeating an action a specific number of times.

In [8]:
# Looping over a range of numbers
for i in range(3):  # Will iterate over 0, 1, 2
    print("Number:", i)

Number: 0
Number: 1
Number: 2

**Note**: `range()` function is zero based, so like when using the index to access list items, we start from 0.

<br>

### 1.3 **Advanced usage of the range() function**

The **`range()`** function is versatile and can be tailored for more complex looping scenarios, such as starting from a non-zero value or incrementing by steps greater than one.

##### 1.3.1 **Starting from a Non-Zero Value**

By default, **`range()`** starts at 0. However, you can specify a starting value by providing two arguments: the start and stop values.

In [ ]:
# Looping from 1 to 5
for i in range(1, 6):  # Starts at 1, stops before 6
    print(i)

This loop prints numbers from 1 to 5. The range(1, 6) call generates numbers starting at 1 and ending just before 6. This is because the stop value is non-inclusive.

<br>

##### 1.3.2 **Using a Step Value**

You can also specify a step value as the third argument to **`range()`**, which determines the increment between each number in the sequence.

In [9]:
# Counting by twos
for i in range(0, 10, 2):  # From 0 to 10, stepping by 2
    print(i)

0
2
4
6
8

This loop prints even numbers between 0 and 8. The step value of 2 means that it will skip every other number, starting from 0 and stopping before reaching 10.

<br>

### 1.4 **Looping Over Strings**

Loops can also iterate over each character in a string, allowing you to perform actions on or with each character.

In [11]:
# Looping over each character in a string
for char in "Bristol":
    print(char)

B
r
i
s
t
o
l

<br>
<br>

### <font color='Green'><strong>Loops Exercises: </strong></font>

These examples and exercises introduce you to the power and flexibility of loops in Python, demonstrating how they can be used to iterate over lists, numbers, and strings to perform repetitive tasks efficiently.

**EX 1.1** Create a loop that prints each character of your name.

In [12]:
### 1.1 Add Solution Here ###

<br>

**EX 1.2** Use a **`for`** loop and the **`range()`** function to print the numbers 1 through 5.

In [ ]:
### 1.2 Add Solution Here ###

<br>

<font color='Green'><strong>Bonus Exercise: </strong></font>

**EX 1.3** Write a loop using range() to print all odd numbers from 1 to 10.

In [ ]:
### 1.3 Add Solution Here ###

<br>
<br>

---

<br>

## 2. Conditionals

Conditionals in Python allow you to execute different blocks of code based on certain conditions. These conditions are expressed using logical comparisons, including:
- equals (==)
- not equals (!=)
- greater than (>)
- less than (<)
- greater than or equal to (>=)
- less than or equal to (<=).

The boolean values True and False are returned when an expression is compared or evaluated.

**Hint**: Read more about Python operators [here](https://www.w3schools.com/python/python_operators.asp).

<br>

### 2.1 **Basic If-Else Statement**

The simplest form of conditional is an **`if-else`** statement, which executes a block of code if a condition is **`True`**, and another block if the condition is **`False`**.

In [13]:
age = 20

# Check if `age` is 18 or more. If True, print "You are an adult."; otherwise, print "You are a child."
if age >= 18:
    print("You are an adult.")
else:
    print("You are a child.")

You are an adult.

<br>

### 2.2 **Elif for Multiple Conditions**

For multiple conditions, **`elif`** (short for "else if") can be used to check additional conditions if the previous ones were **`False`**.

In [14]:
age = 14

if age >= 18:
    print("You are an adult.")
elif age >= 13:
    print("You are a teenager.")
else:
    print("You are a child.")

You are a teenager.

<br>

### 2.3 **Nested Conditionals**

`if-else` statements can be nested within other conditionals to handle more complex decision trees. This is useful in scenarios where multiple levels of conditions are needed.

In [17]:
age = 25
has_id = True

if age >= 18:
    if has_id:
        print("You are an adult and you have an ID.")
    else:
        print("You are an adult but you don't have an ID.")
else:
    print("You are not an adult.")

You are an adult and you have an ID.

Explanation: The nested if inside the first if handles the additional check (has_id). If the first condition is True, the second condition (has_id) is evaluated, allowing more granular decision-making.

<br>

### 2.4 **Using `in` with Conditionals**

The `in` operator is helpful for checking membership in collections like lists, tuples, or strings. This is particularly useful when checking if a value exists within a list of values.

In [18]:
fruit = "apple"
if fruit in ["apple", "banana", "cherry"]:
    print(f"{fruit} is in the list of fruits.")
else:
    print(f"{fruit} is not in the list of fruits.")

apple is in the list of fruits.

<br>

### 2.5 **Combining Logical Operators**

We can use the "and" and "or" boolean operators to build complex boolean expressions, for example:

In [19]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "James":
    print("Your name is either John or James.")

Your name is John, and you are also 23 years old.
Your name is either John or James.

We can also use parentheses to ensure that the conditions are grouped logically:

In [ ]:
age = 22
student = True

if (age >= 18 and age <= 25) or student:
    print("You qualify for the young person's discount.")
else:
    print("You do not qualify for the discount.")

Here, the parentheses allow the program to first check if the person is aged 18-25, and if that's not true, it will check if they are a student. This is useful for complex conditions.

<br>

### 2.6 **Ternary (Inline) Conditional**

This shorthand form of an if-else statement allows for a more concise way of assigning values based on a condition, making the code cleaner when dealing with simple cases.

In [22]:
age = 16
message = "You are an adult." if age >= 18 else "You are a child."
print(message)

You are a child.

<br>
<br>

### <font color='Green'><strong>Conditionals Exercises: </strong></font>


**EX 2.1** (Nested Conditionals): Create a nested conditional that checks if a person has a valid driver's license and whether they have insurance. If both are true, print "You are allowed to drive." Otherwise, print the appropriate message.

In [20]:
### 2.1 Add Solution Here ###

<br>

**EX 2.2** Use a ternary conditional to assign a message indicating whether a number is positive, negative, or zero.

In [24]:
### 2.3 Add Solution Here ###

<br>

**EX 2.3** Write a condition that checks if a user's role is one of “admin”, “moderator”, or “superuser” and prints an appropriate message.

In [23]:
### 2.3 Add Solution Here ###
roles = ['admin', 'moderator', 'superuser']

<br>

---

<br>
<br>

## 3. **Combining Loops & Conditionals**

Combining loops with conditionals allows you to iterate over items and execute different actions depending on each item's value.

<br>

### 3.1 **Categorising data**

We've seen how to combine multiple tests using if-elif-else etc. Now imagine we've fetched a list of ages, and we need to categorise each person based on their age. We can do this quickly using a loop around our conditionals:

In [26]:
ages = [12, 17, 20, 30, 15, 22]

for age in ages:
  if age >= 18:
      print("You are an adult.")
  elif age >= 13:
      print("You are a teenager.")
  else:
      print("You are a child.")

You are a child.
You are a teenager.
You are an adult.
You are an adult.
You are a teenager.
You are an adult.

In [25]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    if number % 2 == 0: # The % operator returns the remainder of the division, e.g. 5 % 2 = 1
        print(f"{number} is even.")
    else:
        print(f"{number} is odd.")

1 is odd.
2 is even.
3 is odd.
4 is even.
5 is odd.

<br>

### 3.3 **Filtering Data**

Suppose you want to visualise only certain types of data. You can combine a loop with an if statement to filter the data and prepare it for charting. Here, we filter numbers above a certain threshold.

In [27]:
data = [45, 67, 23, 78, 12, 90, 56]
filtered_data = []

for value in data:
    if value > 50:
        filtered_data.append(value)

print("Filtered Data:", filtered_data)

Filtered Data: [67, 78, 90, 56]

<br>

### 3.4 **Counting Categories in Data**

This example simulates counting the number of occurrences of categories in your data, similar to tallying results before visualisation. For example, let's count how many even and odd numbers are present.

In [28]:
numbers = [10, 15, 20, 25, 30, 35, 40]
even_count = 0
odd_count = 0

for number in numbers:
    if number % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print(f"Even numbers: {even_count}, Odd numbers: {odd_count}")

Even numbers: 4, Odd numbers: 3

<br>

___

<br>

## 4. Advanced Examples

In this section, we will cover a few more advanced techniques to help you understand how to control loops more effectively. These include while loops, nested loops, and the use of break and continue statements to control the flow of your loops.

### 4.1 **While Loops**

A while loop continues to execute as long as the given condition remains True. It's useful when you don't know in advance how many times the loop should run (unlike for loops, which iterate over a fixed range or list).

In [29]:
# Example of a while loop that runs until the counter reaches 5
counter = 0

while counter < 5:
    print(f"Counter is at: {counter}")
    counter += 1  # Increment the counter in each iteration

Counter is at: 0
Counter is at: 1
Counter is at: 2
Counter is at: 3
Counter is at: 4

In this example, the loop runs until the counter variable reaches 5. Each time through the loop, the value of counter is printed, and then incremented by 1. Once counter reaches 5, the loop stops.

<br>

### 4.2 **Nested Loops**

Nested loops are loops inside other loops. They are useful when you need to process multi-dimensional structures, like grids or lists of lists.

In [30]:
# Example of a nested loop: printing a grid of numbers
for i in range(1, 4):  # Outer loop (rows)
    for j in range(1, 4):  # Inner loop (columns)
        print(f"({i}, {j})", end=" ")
    print()  # Print a newline after each row

(1, 1) (1, 2) (1, 3)
(2, 1) (2, 2) (2, 3)
(3, 1) (3, 2) (3, 3)

The outer loop (`for i in range(1, 4)`) controls the rows, while the inner loop (`for j in range(1, 4)`) controls the columns. Together, they print a grid of coordinate pairs. This technique is useful for handling multi-dimensional arrays or matrices in data science, such as when working with tabular data or visual grids.

<br>

### 4.3 **`break` Statement**

The break statement allows you to exit a loop early if a certain condition is met. This is helpful when you want to stop processing data as soon as you find a specific result, or when a condition occurs that makes continuing unnecessary.

In [31]:
# Example of using `break` to stop the loop when a specific value is found
numbers = [10, 20, 30, 40, 50]

for number in numbers:
    if number == 30:
        print(f"Found {number}, stopping the loop.")
        break  # Exit the loop as soon as we find the value 30
    print(f"Processing number: {number}")

Processing number: 10
Processing number: 20
Found 30, stopping the loop.

Here, the loop will iterate through the list `numbers`. However, as soon as it encounters the number `30`, the `break` statement is triggered, and the loop stops immediately. This is useful for early exits from loops when you've found what you're looking for.

<br>

### 4.4 **`continue` Statement**

The continue statement allows you to skip the current iteration of a loop and move directly to the next one. This can be useful when there are specific cases where you don't want to process certain values.

In [32]:
# Example of using `continue` to skip numbers divisible by 3
for num in range(1, 10):
    if num % 3 == 0:
        continue  # Skip the rest of the loop when num is divisible by 3
    print(num)

1
2
4
5
7
8

In this example, the `continue` statement is used to skip any numbers that are divisible by 3. When the loop encounters a number that satisfies the condition `num % 3 == 0`, it skips to the next iteration without executing the `print()` statement for that number.

<br>
<br>

### <font color='Green'><strong>Bonus Exercises: </strong></font>

<br>

**EX 4.1** Create a nested loop that prints a 5x5 grid of stars (*).

In [34]:
### 4.1 Add Solution Here ###

<br>

**EX4.1** Modify the list of numbers in the break example. If the number is 50, use continue to skip that number, but stop the loop entirely when you find 60.

In [35]:
### 4.2 Add Solution Here ###

<br>

**EX 4.3** Write a while loop that repeatedly asks the user for a number and exits when the user enters a negative number.
- **Hint:** You'll need to use the `input()` function - what data type is the inputted variable? Try converting it to a number using `int()`. See more info on [`input()`](https://www.w3schools.com/python/ref_func_input.asp) and [`int()`](https://www.w3schools.com/python/python_casting.asp)

In [33]:
### 4.3 Add Solution Here ###